---
import { ChevronLeft } from '@lucide/astro'
import Layout from '../layouts/layout.astro'
---

<Layout>
    <section class='space-y-4'>
        <a
            href='/'
            class='w-fit flex items-center gap-x-2 text-sm px-2 py-1 bg-linear-to-b from-zinc-50 to-zinc-200 text-zinc-800 rounded-lg cursor-default border-b-4 border border-zinc-400 shadow-md active:border-b-0 active:translate-y-1 active:shadow-none duration-100 transition-all'
            ><ChevronLeft size={15} /> Back</a
        >
        <h1 class='w-fit font-lora text-4xl'>privacy policy</h1>

        <p class='max-w-[100ch]'>
            We don't record any of your data. At all. Everything is done locally
            on your device, no data ever leaves. You can view the entire
            project's source code <a
                href='https://github.com/diodzi/human-search'
                target='_blank'
                class='underline'>here</a
            >.
        </p>
    </section>
</Layout>
