---
import { ChevronLeft } from '@lucide/astro'
import Layout from '../layouts/layout.astro'
---

<Layout>
    <section class='space-y-4'>
        <a href='/' class='flex items-center gap-x-2'
            ><ChevronLeft size={15} /> Back</a
        >
        <h1 class='w-fit font-lora text-4xl'>privacy policy</h1>

        <p class='max-w-[100ch]'>
            We don't record any of your data. At all. Everything is done locally
            on your device, no data ever leaves. You can view the entire
            project's source code <a
                href='https://github.com/diodzi/human-search'
                target='_blank'
                class='underline'>here</a
            >.
        </p>
    </section>
</Layout>
